@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap');

:root {
    --bg-tone-0: #111111ee;
    --bg-tone-1: #111111aa;
    --bg-tone-2: #222222aa;
    --bg-tone-3: #333333aa;
    --text: #eee;
    --text-dim: #aaa;
    --text-low: #777;
    --accent-tone-1: #1d1959;
    --accent-tone-2: #363377;
    --accent-tone-3: #585594;
    --action-tone-1: #0e553c;
    --action-tone-2: #267257;
    --action-tone-3: #478e75;
    /*--green: #3ad; */
    --green: #3da;
    --yellow: #da3;
    --red: #b46;
    --away-grey: #aad;
}

body {
    background: url('/bg-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*
    background-color: var(--bg-tone-1);
    background-image: url('/bg-2.jpg');
    background-size: cover;
    background-position: center;
    */
    /* color: #cde; */
    color: var(--text);
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-tone-0);
    padding: 2rem;
}

.modal > *, .col > * {
    margin-bottom: 0.5rem;
}
.modal .row {
    display: flex;
    flex-direction: row;
}
.modal .col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.demo-av {
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
}

.link {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--action-tone-3);
}
.link:hover {
    text-decoration: none;
    background-color: var(--action-tone-2);
    cursor: pointer;
}

.mega, .lan {
    display: inline;
}

.mega {
    font-weight: 100;
}

.main-heading {
    /* width: 100%; */
    /* width: 9.25rem; */
    display: inline-block;
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: var(--bg-tone-1);
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.my-status {
    margin: 1rem;
    margin-bottom: -2rem;
    padding: 1rem;
    background-color: var(--bg-tone-1);
    float: right;
    /* right: 1rem;
    top: 1rem;
    position: absolute; */
}

.my-status .name {
    text-align: center;
}

.statuses {
    display: flex;
    flex-direction: row;
}

.statuses div {
    padding: 1rem;
    width: 5rem;
    text-align: center;
}

.statuses .name {
    /* text-decoration: underline; */
    /* text-decoration-width: 20px; */
    display: inline-block;
    margin-bottom: 0.5rem;
    border: solid 0px;
    border-bottom-width: 1px;
}
.active .name, .statuses > div:hover > .name {
    border-bottom-width: 5px;
}

.free .name, .free:hover .name {
    border-color: var(--green);
}
.soon .name, .soon:hover .name {
    border-color: var(--yellow);
}
.busy .name, .busy:hover .name {
    border-color: var(--red);
}
.away .name, .away:hover .name {
    border-color: var(--away-grey);
}

.statuses .desc {
    color: var(--text-low);
}

.statuses .active.free .desc {
    color: var(--green);
}
.statuses .active.soon .desc {
    color: var(--yellow);
}
.statuses .active.busy .desc {
    color: var(--red);
}
.statuses .active.away .desc {
    color: var(--away-grey);
}

.status-age {
    text-align: center;
    color: var(--text-dim);
}

.lobbies, .games {
    margin: 1rem;
    clear: both;
}

/*.test {
    margin: 1rem;
    background-color: #222222aa;
}*/

.games .heading, .lobbies .heading {
    display: inline-block;
}

.games div, .lobbies div {
    background-color: var(--bg-tone-2);
}

h2 {
    margin: 0;
}

h3 {
    display: inline;
}

.fal {
    /*
    vertical-align: middle;
    */
}

.close-icon {
    margin-top: 0.1rem;
    margin-left: 1.5rem;
    /*color: var(--action-tone-3);*/
}

.edit-icon {
    float: right;
}

.heading {
    padding: 1rem;
}

.lobbies > .body, .games > .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    */
}

.head h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lobby, .game {
    background-color: var(--bg-tone-1);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.lobby .head {
    background-color: var(--bg-tone-3);
    padding: 1rem;
}

.lobby .mid {
    background-color: var(--bg-tone-2);
    padding: 1rem;
}

.lobby .body {
    background-color: var(--bg-tone-1);
    padding: 1rem;
}

.game {
    min-width: 15rem;
}

.game .head {
    background-color: var(--bg-tone-3);
    padding: 1rem;
}

.game .mid {
    background-color: var(--bg-tone-2);
    padding: 1rem;
}

.game .body {
    background-color: var(--bg-tone-1);
    padding: 1rem;
    flex-grow: 1;
}

.point {
    cursor: pointer;
}

button {
    width: 100%;
    background-color: var(--bg-tone-2);
    color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: #3cc;
    padding: 0.5rem;
}
.create-lobby:hover {
    text-decoration: underline;
}


/* Devcards */

.using-devcards .com-rigsomelight-devcards-card-base-no-pad {
    background-color: #111;
    border-color: #222;
}

.using-devcards .com-rigsomelight-devcards-card-base {
    background-color: #222;
}

.using-devcards .com-rigsomelight-devcards-panel-heading {
    background-color: #222;
}