@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap');

body {
    background-color: #111;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #cde;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}

.heading {
    width: 100%;
    background-color: #222222aa;
}

.games .heading, .lobbies .heading {
    width: 100%;
    background-color: #111111aa;
}

.mega, .lan {
    display: inline;
}

.mega {
    font-weight: 100;
}

h2 {
    margin: 0;
}

h3 {
    display: inline;
}

.fal {
    /*
    vertical-align: middle;
    */
}

.close-icon {
    padding-top: 0.25rem;
    padding-left: 1.5rem;
}

.heading {
    padding: 1rem;
}

.lobbies > .body, .games > .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.head {

    display: flex;
    justify-content: space-between;

    align-items: center;
    /*
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    */
}

.head h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lobby, .game {
    background-color: #222;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.lobby .head {
    background-color: #444;
    padding: 1rem;
}

.lobby .body {
    padding: 1rem;
}

.lobby .mid {
    background-color: #333;
    padding: 1rem;
}

.game .head {
    background-color: #444;
    padding: 1rem;
}

.game .mid {
    background-color: #333;
    padding: 1rem;
}

.game .body {
    padding: 1rem;
    flex-grow: 1;
}

.point {
    cursor: pointer;
}

.create-lobby {
    width: 100%;
    background-color: #333;
    color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: #3cc;
    padding: 0.5rem;
}
.create-lobby:hover {
    text-decoration: underline;
}


/* Devcards */

.using-devcards .com-rigsomelight-devcards-card-base-no-pad {
    background-color: #111;
    border-color: #222;
}

.using-devcards .com-rigsomelight-devcards-card-base {
    background-color: #222;
}

.using-devcards .com-rigsomelight-devcards-panel-heading {
    background-color: #222;
}